<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="../../static/style/header.css" rel="stylesheet" th:href="@{/style/header.css}" />
    <title th:text="#{title}"></title>
</head>
<body>
<div th:insert="~{/fragments/smallMenu :: smallMenu}"></div>
<div id="body" style="margin: 20px">
        <div style="text-align:center; margin-bottom:10px; font-size: 28px"th:text="#{ordersLabel}" ></div>
        <div style="margin-left: 20px">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th th:text="#{orderNumberLabel}"></th>
                            <th th:text="#{orderStartDate}"></th>
                            <th th:text="#{orderFinishDate}"></th>
                            <th th:text="#{userLabel}"></th>
                            <th th:text="#{bikeLabel}"></th>
                            <th th:text="#{bikePriceLabel}"></th>
                            <th th:text="#{rentalPointLabel}"></th>
                            <th th:text="#{minutesLabel}"></th>
                        </tr>
                        </thead>
                            <tbody>
                            <tr th:each="order : ${orderListAllUsers}">
                                <td th:text="${order.id}"></td>
                                <td></td>
                                <td></td>
                                <td th:text="${order.user.name}"></td>
                                <td>
                                    <table class="table table-sm" >
                                        <tr th:each="bike: ${order.bikes}">
                                            <td th:text="${bike.bikeType.type}"> </td>
                                        </tr>
                                    </table>
                                </td>

                                <td th:text="${order.sum}"></td>
                                <td>
                                    <table class="table table-sm" >
                                        <tr th:each="bike: ${order.bikes}">
                                            <td th:text="${bike.rentalPoint.name}"></td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <!--<ctg:calculateTime finishTime="${item.endDate}" startTime="${item.startDate}"/>-->
                                </td>
                            </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>

</div>
<div th:insert="~{/fragments/messages :: messages}"></div>
<div th:insert="~{/fragments/footer :: footer}"></div>

<!--<script type="text/javascript">-->
    <!--<%@include file="/resources/js1/calendar.js"%>-->
    <!--var fromDate = new Calendar();-->
    <!--fromDate.init({lng: '${sessionScope.local}'});-->
    <!--fromDate.add('fromDate', 'fromDate');-->

    <!--var toDate = new Calendar();-->
    <!--toDate.init({lng: '${sessionScope.local}'});-->
    <!--toDate.add('toDate', 'toDate');-->
<!--</script>-->

</body>
</html>