<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="../../static/style/header.css" rel="stylesheet" th:href="@{/style/header.css}" />
    <title th:text="#{title}"></title>
</head>

<body>
<div th:insert="~{/fragments/smallMenu :: smallMenu}"></div>
<div class="container-fluid" style="padding-left: 15px; padding-right: 15px">
    <div class="row">
        <div class="col-sm-12" style="background: #F0FFF0; padding-left: 10px; padding-bottom: 50px">
            <form method="POST" th:action="@{/order/addBikeToOrder}"  th:object="${bike}">
                <!-- --------------------------------select rental point ------------------------------------ -->
                <div>
                    <label style="margin-left:10px; margin-top: 20px" th:text="#{rentalPointsLabel}">:
                    </label>
                    <select name="rentalPointId" th:field="*{rentalPoint.id}" class="form-control">
                        <option selected value="0" th:text="#{chooseRentalPoint}"></option>
                        <div th:each="rentalPoint:${rentalPointList}">
                            <option th:value="${rentalPoint.id}"
                                    th:text="${rentalPoint.address}"></option>
                        </div>
                    </select>
                </div>
                <!-- --------------------------------select bikeType ------------------------------------ -->
                <div>
                    <label style="margin-left:10px; margin-top: 20px" th:text="#{bikeTypeLabel}">:</label>
                    <select name="bikeTypeId" th:field="*{bikeType.id}" class="form-control" >
                        <option selected value="0"  th:text="#{chooseBikeTypeLabel}"></option>
                        <div th:each="item:${bikeTypeList}">
                            <option th:value="${item.id}"  th:text="${item.type}"></option>
                        </div>
                    </select>
                </div>
                <!-- --------------------------------select number days ------------------------------------ -->
                <div style="text-align: center; margin-top: 25px">
                    <input type="submit" class="btn btn-primary" th:value="#{addBikeLabel}"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div  th:each="bike : ${#httpSession.getAttribute('order.bikes')}">
    <p th:text="${bike}"></p>
</div>
<div th:if="${#httpSession.getAttribute('order.bikes.isEmpty')}" style="display:none" >
<form method="post" th:action="@{/order/createOrder}" th:object="${#httpSession.getAttribute('order')}">
    <div th:text="${#httpSession.getAttribute('order')}"></div>
    <input type="submit" th:value="#{createOrderLabel}">
</form>
</div>
<div th:insert="~{/fragments/messages :: messages}"></div>
</body>
</html>