.hide{
	position: absolute;
	overflow: hidden;
	z-index: -1;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}

.downloadLabel{
	display: inline-block;
	cursor: pointer;
	background-color: SteelBlue;
	padding: 6px 20px;
	color:white;
	border-radius: 5px;
	transition: all 0.3s;
	
}
/* Dropdown Button */
.dropbtn {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
	background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

body {
	font: 14px 'Verdana';
	margin: 0;
	padding: 0;
}
ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
ul:after {
	display: block;
	content: ' ';
	clear: both;
	float: none;
}
ul.menu > li {
	float: left;
	position: relative;
}
ul.menu > li > a {
	display: block;
	padding: 10px;
	color: white;
	background-color: red;
	text-decoration: none;
}
ul.menu > li > a:hover {
	background-color: black;
}
ul.submenu {
	display: none;
	position: absolute;
	width: 120px;
	top: 37px;
	left: 0;
	background-color: white;
	border: 1px solid red;
}
ul.submenu > li {
	display: block;
}
ul.submenu > li > a {
	display: block;
	padding: 10px;
	color: white;
	background-color: red;
	text-decoration: none;
}
ul.submenu > li > a:hover {
	text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
	display: block;
}
span{
	color:red;
}