<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="../../static/style/header.css" rel="stylesheet" th:href="@{/style/header.css}" />
    <title th:text="#{title}"></title>
</head>
<body>
<nav>
    <ul>
        <li class="logo" th:text="#{title}"></li>
        <li><a href="/users" th:text="#{usersLabel}"></a></li>
        <li><a href="/bike/bikes" th:text="#{bikeCatalogLabel}"></a></li>
        <li><a href="/rentalPoint/allRentalPoints" th:text="#{rentalPointsLabel}"></a></li>
        <li><a href="/order/allOrders" th:text="#{ordersLabel}"></a></li>
        <li style="float: right; margin-right: 50px"><a href="#" th:text="${session.user.name}"></a>
            <ul>
                <li><a href="#" onclick="showProfile()" th:text="#{profileLabel}"></a></li>
                <li><a href="#" onclick="showPassword()" th:text="#{passwChangeLabel}"></a></li>
                <li><a href="/logout" th:text="#{logoutLabel}"></a></li>
            </ul>
        </li>
        <li style="float: right; color: white; padding: 18px 0px 15px 10px;" th:text="#{adminLabel}"></li>
    </ul>
</nav>
<nav>
    <ul class="nav nav-pills pull-xs-right">
        <li class="nav-item active">
            <a class="nav-link text-white"
               href="?lang=ru"
               th:text="#{locButtonRU}">
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link text-white"
               href="?lang=en"
               th:text="#{locButtonEN}">
            </a>
        </li>
    </ul>
</nav>
<div style="margin-top: 20px" >
    <div th:insert="~{/fragments/editUser :: editUser}"></div>
</div>
<form method="POST" th:action="@{/bike/addBike}" action="/bike/addBike"  th:object="${bike}" id="addBikeForm">
    <div class="col-md-8" id="addBike" style="float: left">

        <div style="text-align:center; margin-bottom:10px; font-size: 28px" th:text="#{addBikeLabel}"></div>
        <!--   ---------------------------------- bike brand ------------------------------------------ -->
        <div class="row">
            <div class="col-md-6">
                <label th:text="#{brandLabel}">*</label>
            </div>
            <div class="col-md-4" >
                <input type="text" id="brand" name="brand" th:field="*{brand}"   class="form-control"
                       required
                       th:placeholder="#{brandPlaceholder}"
                       th:oninvalid="#{brandWarn}"
                       oninput="setCustomValidity('')">
                <span class="validationError"
                      th:if="${#fields.hasErrors('brand')}"
                      th:error="*{brand}"></span>
            </div>
        </div>
        <!--   ---------------------------------- model ------------------------------------------ -->
        <div class="row">
            <div class="col-md-6">
                <label th:text="#{modelLabel}"> *</label>
            </div>
            <div class="col-md-4">
                <input type="text" id="model" th:field="*{model}" name="model" class="form-control" th:placeholder="#{modelPlaceholder}"
                       required
                       oninvalid="setCustomValidity('${modelWarnLabel}')"
                       oninput="setCustomValidity('')">
                <span class="validationError"
                      th:if="${#fields.hasErrors('model')}"
                      th:error="*{model}"></span>
            </div>
        </div>
        <!--   ---------------------------------- bike type ------------------------------------------ -->
        <div class="row">
            <div class="col-md-6">
                <label th:text="#{bikeTypeLabel}"> *</label>
            </div>
            <div class="col-md-4">
                <select name="bikeTypeId" id="bikeTypeId"  th:field="*{bikeType.id}"  class="form-control"
                        style="width: 330px; float: left;" required>
                    <option selected value="0" th:text="#{chooseBikeTypeLabel}"></option>
                    <div  th:each="bikeType:${bikeTypeList}" >
                        <option th:value="${bikeType.id}" th:text="${bikeType.type}"></option>
                    </div>
                </select>
            </div>
        </div>
        <!--   ---------------------------------- rental point ------------------------------------------ -->
        <div class="row">
            <div class="col-md-6">
                <label th:text="#{rentalPointsLabel}">*</label>
            </div>
            <div class="col-md-5">
                <select name="rentalPointId" id="rentalPointId" th:field="*{rentalPoint.id}" class="form-control"
                        style="width: 330px; float: left;" required
                        oninvalid="setCustomValidity('${countWarnLabel}')"
                        oninput="setCustomValidity('')">
                    <option selected value="0" th:text="#{chooseRentalPoint}">
                    </option>
                    <div  th:each="rentalPoint:${rentalPointList}">
                        <option th:value="${rentalPoint.id}" th:text="${rentalPoint.name}"></option>
                    </div>
                </select>
            </div>
        </div>
        <!--   ---------------------------------- count bikes ---------------------------------------- -->
        <div class="row">
            <div class="col-md-6">
                <label th:text="#{countLabel}"></label>
            </div>
            <div class="col-md-4">
                <input
                        type="text"
                        name="bikeCount"
                        class="form-control"
                        th:placeholder="#{countLabel}"
                        required
                        pattern="[1-9]"
                        th:oninvalid="#{countWarnLabel}"
                        th:oninput="''"

                >
            </div>
        </div>
        <!--   ---------------------------------- submit block ---------------------------------------- -->
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-5" align="center">
                <input type="submit" class="btn btn-primary" th:value="#{addBikeLabel}"/>
            </div>
        </div>
    </div>
</form>
<!--<div th:if="${error ne null}">-->
    <!--<input type="hidden" id="errorMessage" th:value="#{${error}}" />-->
<!--</div>-->
<!--<div th:if="${message ne null}">-->
    <!--<input type="hidden" id="message" th:text="#{${message}}" />-->
<!--</div>-->
<!--<script type="text/javascript" th:src="@{/style/js/message.js}"></script>-->
<!---------------------------------------------BikeList--------------------->
<script type="text/javascript" th:src="@{/style/js/editUser.js}"></script>
<script type="text/javascript" th:src="@{/style/js/bike.js}"></script>
<div th:insert="~{/fragments/messages :: messages}"></div>
<div th:insert="~{/fragments/footer :: footer}"></div>
</body>
</html>