<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:jsp="http://java.sun.com/JSP/Page">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/header.css}" />
    <title th:text="#{title}"></title>
</head>
<body>
<nav>
    <ul>
        <li class="logo" th:text="#{title}"></li>
        <li><a href="/users" th:text="#{usersLabel}"></a></li>
        <li><a href="BikeRentalServlet?command=bikeCatalog" th:text="#{bikeCatalogLabel}"></a></li>
        <li><a href="BikeRentalServlet?command=rental_points_page" th:text="#{rentalPointsLabel}"></a></li>
        <li><a href="BikeRentalServlet?command=all_orders_page" th:text="#{ordersLabel}"></a></li>
        <li style="float: right; margin-right: 50px"><a href="#" th:text="${session.user.name}"></a>
            <ul>
                <li><a href="#" onclick="showProfile()" th:text="#{profileLabel}"></a></li>
                <li><a href="#" onclick="showPassword()" th:text="#{passwChangeLabel}"></a></li>
                <li><a href="BikeRentalServlet?command=logout" th:text="#{logoutLabel}"></a></li>
            </ul>
        </li>
        <li style="float: right; color: white; padding: 18px 0px 15px 10px;" th:text="#{adminLabel}"></li>
    </ul>
</nav>
<nav>
    <ul class="nav nav-pills pull-xs-right">
        <li class="nav-item active">
            <a class="nav-link text-white"
               href="?lang=en"
               th:text="#{locButtonEN}">

            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link text-white"
               href="?lang=ru"
               th:text="#{locButtonRU}">

            </a>
        </li>
    </ul>
</nav>
<div id="calend" style="margin-top: 20px">
    <div th:src="@{/templates/fragments/editUser.html}"></div>
</div>
<form method="POST" th:action="@{/addBike}"  th:object="${bike}" id="addBikeForm">
    <div class="col-md-8" id="addBike" style="float: left">

        <div style="text-align:center; margin-bottom:10px; font-size: 28px" th:text="#{addBikeLabel}"></div>
        <!--   ---------------------------------- bike brand ------------------------------------------ -->
        <div class="row">
            <div class="col-md-6">
                <label th:text="#{brandLabel}">*</label>
            </div>
            <div class="col-md-4">
                <input type="text" id="brand" name="brand" class="form-control"
                       required
                       th:placeholder="#{brandPlaceholder}"
                       th:oninvalid="#{brandWarn}"
                       oninput="setCustomValidity('')">
            </div>
        </div>
        <!--   ---------------------------------- model ------------------------------------------ -->
        <div class="row">
            <div class="col-md-6">
                <label th:text="#{modelLabel}"> *</label>
            </div>
            <div class="col-md-4">
                <input type="text" id="model" name="model" class="form-control" th:placeholder="#{modelPlaceholder}"
                       required
                       oninvalid="setCustomValidity('${modelWarnLabel}')"
                       oninput="setCustomValidity('')">
            </div>
        </div>
        <!--   ---------------------------------- bike type ------------------------------------------ -->
        <div class="row">
            <div class="col-md-6">
                <label th:text="#{bikeTypeLabel}"> *</label>
            </div>
            <div class="col-md-4">
                <select name="bikeTypeId" id="bikeTypeId" class="form-control" style="width: 330px; float: left;">
                    <option selected value="0" th:text="#{chooseBikeTypeLabel}"></option>
                    <div  th:each="bikeType:${bikeTypeList}">
                        <option th:value="${bikeType.id}" th:text="${bikeType.type}"></option>
                    </div>
                </select>
            </div>
        </div>
        <!--   ---------------------------------- rental point ------------------------------------------ -->
        <div class="row">
            <div class="col-md-6">
                <label th:text="#{rentalPointsLabel}">*</label>
            </div>
            <div class="col-md-5">
                <select name="rentalPointId" id="rentalPointId" class="form-control" style="width: 330px; float: left;"
                        required
                        oninvalid="setCustomValidity('${countWarnLabel}')"
                        oninput="setCustomValidity('')">
                    <option selected value="0" th:text="#{chooseRentalPoint}">
                    </option>
                    <div  th:each="rentalPoint:${rentalPointList}">
                        <option th:value="${rentalPoint.id}" th:text="${rentalPoint.name}">

                        </option>
                    </div>
                </select>
            </div>
        </div>
        <!--   ---------------------------------- count bikes ---------------------------------------- -->
        <div class="row">
            <div class="col-md-6">
                <label th:text="#{countLabel}"></label>
            </div>
            <div class="col-md-4">
                <input
                        type="text"
                        name="bikeCount"
                        class="form-control"
                        th:placeholder="#{countLabel}"
                        required
                        pattern="[1-9]"
                        oninvalid="setCustomValidity('${countWarnLabel}')"
                        oninput="setCustomValidity('')">
            </div>
        </div>
        <!--   ---------------------------------- submit block ---------------------------------------- -->
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-5" align="center">
                <input id="command" type="hidden" name="command" value="add_bike"/>
                <input type="submit" class="btn btn-primary" th:value="#{addBikeLabel}"/>
            </div>
        </div>
    </div>
</form>
<!---------------------------------------------BikeList--------------------->
<script type="text/javascript" th:src="@{/js/editUser.js}"></script>
<script type="text/javascript" th:src="@{/js/bike.js}"></script>
<div th:replace="footer.html"></div>
<div th:insert="messages.html"></div>
</body>
</html>