<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../static/style/header.css" rel="stylesheet" th:href="@{/style/header.css}" />
    <title th:text="#{title}"></title>
</head>
<body>
<div th:src="@{/templates/fragments/smallMenu.html}"></div>
<div id="calend" style="margin-top: 20px">
    <div th:src="@{/templates/fragments/editUser.html}"></div>
</div>

<div id="body" style="margin: 20px" th:if="${usersList != null}">
        <div style="text-align:center; margin-bottom:10px; font-size: 28px" th:text="#{usersLabel}">
        </div>
        <div style="margin-left: 20px">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th th:text="#{userIdLabel}"></th>
                            <th th:text="#{loginLabel}">></th>
                            <th th:text="#{nameLabel}">></th>
                            <th th:text="#{surnameLabel}">></th>
                            <th th:text="#{emailLabel}">></th>
                            <th th:text="#{phoneLabel}">></th>
                            <th th:text="#{roleLabel}">></th>
                            <th th:text="#{stateLabel}">></th>
                            <th th:text="#{changes}">></th>
                        </tr>
                        </thead>
                            <tbody>
                            <tr th:each="user : ${usersList}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.login}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.surname}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.tel}"></td>
                                <td th:text="${user.role}"></td>
                                <td th:text="${user.state}"></td>
                                <td>
                                    <a  href="BikeRentalServlet?command=delete_user&userId=${item.id}" th:text="#{deleteLabel}">
                                    </a> <br>
                                    <div th:if="${user.state eq 'ACTIVE'}">
                                        <!--<a  href = "<c:url value="BikeRentalServlet?command=change_state_user&userId=${item.id}&state=blocked"-->
                                            <!--th:text="#{changeStateLabel}"> </c:url>">-->
                                        <!--</a>-->
                                    </div>
                                    <div th:if="${user.state eq 'BLOCKED'}">
                                        <!--<a href = "<c:url value="BikeRentalServlet?command=change_state_user&userId=${item.id}&state=active"-->
                                             <!--th:text="#{changeStateLabel}"> </c:url>-->
                                        <!--</a>-->
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>


<!---------------------------------------------BikeList--------------------->
<div th:src="@{/templates/footer.html}"></div>
<div th:src="@{/templates/messages.html}"></div>

</body>
</html>