<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="../../static/style/header.css" rel="stylesheet" th:href="@{/style/header.css}" />
    <title th:text="#{title}"></title>
</head>
<body>
<div th:insert="~{/fragments/smallMenu :: smallMenu}"></div>

<div id="body" style="margin: 20px" th:if="${usersList != null}">
        <div style="text-align:center; margin-bottom:10px; font-size: 28px" th:text="#{usersLabel}">
        </div>
        <div style="margin-left: 20px">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th th:text="#{userIdLabel}"></th>
                            <th th:text="#{loginLabel}">></th>
                            <th th:text="#{nameLabel}">></th>
                            <th th:text="#{surnameLabel}">></th>
                            <th th:text="#{emailLabel}">></th>
                            <th th:text="#{phoneLabel}">></th>
                            <th th:text="#{roleLabel}">></th>
                            <th th:text="#{stateLabel}">></th>
                            <th th:text="#{changes}">></th>
                        </tr>
                        </thead>
                            <tbody>
                            <tr th:each="user : ${usersList}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.login}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.surname}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.tel}"></td>
                                <td th:text="${user.role}"></td>
                                <td th:text="${user.state}"></td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" th:text="#{change}">

                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" th:href="@{/delete(id=${user.id})}" th:text="#{deleteLabel}"></a>
                                            <a class="dropdown-item" th:href="@{/changeState(id=${user.id},userState=${user.state})}" th:text="#{changeStateLabel}"></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
<!---------------------------------------------BikeList--------------------->
<div th:insert="~{/fragments/footer :: footer}"></div>
<div th:insert="~{/fragments/messages :: messages}"></div>

</body>
</html>