<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="../../static/style/header.css" rel="stylesheet" th:href="@{/style/header.css}" />
    <title th:text="#{title}"></title>
    <link type="text/css" th:href="@{/style/labelStyle.css}">
<body>
<div th:fragment="editUser">
    <div id="profile" class="container" style="display:none">
        <div class="container">
            <div style="text-align:center; font-size: 20px" th:text="#{regDataLabel}"></div>
            <br>
            <div th:insert="~{/fragments/userPersonalData :: userPersonalData}"></div>
        </div>
    </div>

    <div id="password" class="container" style="display:none">
        <div class="container">
            <div style="text-align:center; font-size: 20px" th:text="#{changePasswLabel}">
            </div>
            <br>

            <form action="/changeUserPassword" th:action="@{/changeUserPassword}" method="post" id="passwUpdateForm"
                  onsubmit="checkPassword(); return false">
                <div id="currentPassword" style="display: none">
                    <div class="row">
                        <div class="col-md-4">
                            <label th:text="#{currentPasswordLabel}">*</label>
                        </div>
                        <div class="col-md-4">
                            <input 	type="password"
                                      name="currentPassword"
                                      class="form-control"
                                      th:placeholder="#{currentPasswordPlaceholder}"
                                      pattern="[\wа-яА-ЯёЁ]{3,15}"
                                      oninvalid="setCustomValidity('${password_warn}')"
                                      oninput="setCustomValidity('')">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-4">
                        <label th:text="#{passwordLabel}">*</label>
                    </div>
                    <div class="col-md-4">
                        <input 	type="password"
                                  name="password"
                                  class="form-control"
                                  id="passw1"
                                  required
                                  th:placeholder="#{passwordPlaceholder}"
                                  oninvalid="setCustomValidity('${password_warn}')"
                                  oninput="setCustomValidity('')">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label th:text="#{againPasswordLabel}">*</label>
                    </div>
                    <div class="col-md-4">
                        <input 	type="password"
                                  class="form-control"
                                  id="passw2"
                                  required
                                  th:placeholder="#{againPasswordPlaceholder}"
                                  oninvalid="setCustomValidity('${password_warn}')"
                                  oninput="setCustomValidity('')">
                    </div>
                </div>
                <script th:src="@{/style/js/password.js}"></script>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4" align="center">
                        <input type="submit" class="btn btn-primary" th:placeholder="#{changeLabel}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/style/js/editUser.js}"></script>
</body>
</html>