<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Title</title>
    <link type="text/css" th:href="@{/style/labelStyle.css}">
<body>
<div id="profile" class="container" style="display:none">
    <div class="container">
        <div style="text-align:center; font-size: 20px" th:text="#{regDataLabel}"></div>
        <br>
        <div th:src="@{/fragments/userPersonalData.html}"></div>
    </div>
</div>

<div id="password" class="container" style="display:none">
    <div class="container">
        <div style="text-align:center; font-size: 20px" th:text="#{changePasswLabel}">
        </div>
        <br>

        <form action="BikeRentalServlet" method="post" id="passwUpdateForm" onsubmit="checkPassword(); return false">
            <div th:src="@{/fragments/passwordVerification.html}"></div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4" align="center">
                    <input type="hidden" name="command" value="change_password"/>
                    <input type="submit" class="btn btn-primary" value="${changeLabel}">
                </div>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/style/js/editUser.js}"></script>
</body>
</html>