<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="currentPassword" style="display: none">
    <div class="row">
        <div class="col-md-4">
            <label th:text="#{currentPasswordLabel}">*</label>
        </div>
        <div class="col-md-4">
            <input 	type="password"
                      name="currentPassword"
                      class="form-control"
                      th:placeholder="#{currentPasswordPlaceholder}"
                      pattern="[\wа-яА-ЯёЁ]{3,15}"
                      oninvalid="setCustomValidity('${password_warn}')"
                      oninput="setCustomValidity('')">
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-md-4">
        <label th:text="#{passwordLabel}">*</label>
    </div>
    <div class="col-md-4">
        <input 	type="password"
                  name="password"
                  class="form-control"
                  id="passw1"
                  required
                  th:placeholder="#{passwordPlaceholder}"
                  oninvalid="setCustomValidity('${password_warn}')"
                  oninput="setCustomValidity('')">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label th:text="#{againPasswordLabel}">*</label>
    </div>
    <div class="col-md-4">
        <input 	type="password"
                  class="form-control"
                  id="passw2"
                  required
                  th:placeholder="#{againPasswordPlaceholder}"
                  oninvalid="setCustomValidity('${password_warn}')"
                  oninput="setCustomValidity('')">
    </div>
</div>
<script th:src="@{/style/js/password.js}"></script>
</body>
</html>