<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<nav>
    <ul>
        <li class="logo" th:text="#{title}"></li>
        <li style="float:left; margin-left: 25%; padding-top:6px; font-size: 28px; font-weight: bold; text-decoration: underline; color: white;" th:text="${menuLabel}"></li>
        <li style="float:right; margin-right:10px">
            <a href="BikeRentalServlet?command=logout" th:text="#{logoutLabel}"></a>
        </li>
        <li style="float:right">
            <a href="BikeRentalServlet?command=home" th:text="#{homeLabel}"></a>
        </li>
        <li style="float:right; color: white; font-weight: bold; padding: 18px 0px 15px 10px;" th:text="${session.user.name}"></li>
        <li th:if="${session.user.role eq 'ADMIN'}">
        <a style="float:right; color: white; padding: 18px 0px 15px 10px;" th:text="#{adminLabel}">
        </a>
    </li>
        <li th:if="${session.user.role eq 'USER'}" >
            <a style="float:right; color: white; padding: 18px 0px 15px 10px;" th:text="#{userLabel}">
            </a>
        </li>


    </ul>
</nav>
</body>
</html>