<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" th:href="@{/style/labelStyle.css}">
</head>
<body>
<div>
    <div class="row">
        <div class="col-md-4">
            <label th:text="#{loginLabel}"*></label>
        </div>
        <div class="col-md-4">
            <input  type="text"
                    name="login"
                    class="form-control"
            th:placeholder="#{loginPlaceholder}"
            required
            th:oninvalid="#{loginWarn}"
            oninput="setCustomValidity('')">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label th:text="#{nameLabel}">*</label>
        </div>
        <div class="col-md-4">
            <input type="text"
                   name="name"
                   class="form-control"
            th:placeholder="#{namePlaceholder}"
            pattern="[a-zA-Zа-яА-ЯЁё]{3,15}"
            required
            th:oninvalid="#{nameWarnLabel}"
            oninput="setCustomValidity('')">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label th:text="#{surnameLabel}">*
            </label>
        </div>
        <div class="col-md-4">
            <input type="text"
                   name="surname"
                   class="form-control"
            th:placeholder="#{surnamePlaceholder}"
            required
            pattern="[a-zA-Zа-яА-ЯЁё]{3,15}"
            th:oninvalid="#{surnameWarnLabel}"
            oninput="setCustomValidity('')">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label th:text="#{emailLabel}">*</label>
        </div>
        <div class="col-md-4">
            <input type="email"
                   name="email"
                   class="form-control"
            th:placeholder="#{emailPlaceholder}"
            required
            th:oninvalid="#{emailWarnLabel}"
            oninput="setCustomValidity('')">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label th:text="#{balanceLabel}">*
            </label>
        </div>
        <div class="col-md-4">
            <input type="text"
                   name="balance"
                   class="form-control">
        </div>
    </div>
</div>
</body>
</html>