<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>

</head>
<body th:fragment="messages" >
<div th:if="${error ne null}">
    <input type="hidden" id="errorMessage" th:value="#{${error}}" />
</div>
<div th:if="${message ne null}">
    <input type="hidden" id="message" th:value="#{${message}}" />
</div>
<script th:src="@{/style/js/message.js}"></script>
</body>
</html>
